.letterBox {
  width: 30px;
  height: 30px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 5px;
  border-bottom: 2px solid black;
}
.currentLetter {
  width: 30px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 5px;
}
.dvdisplay {
  display: flex;
  flex-direction: row;
}
html {
  background-color: rgb(87, 172, 124);
}
